.bg-gradient-prefooter-yellow {
  background-image: linear-gradient(90deg, #fff 1.51%, #f9d3a2 50.75%, #ebbe94 69.53%);
}

.pre-footer {
  .btn-primary {
    height: 50px;
    width: 210px;
  }
}

footer {
  .container {
    padding-left: 4rem;
  }
}
