{{ define "main" }}

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                {{ if .Params.image }}
                <img src="{{ .Params.image | relURL }}" alt="{{ .Title }}" class="img-fluid w-100 rounded mb-4">
                {{ end }}
                <h2 class="mb-4">{{ .Title }}</h2>
                <p>
                    <span><i class="fas  fa-map-marker"
                                     aria-hidden="true"></i> &nbsp; {{ .Params.location }}</span></br>
                    <span><i class="fas fa-calendar-check"></i> &nbsp; {{ .Params.start_date | time.Format ":date_long" }} at {{ .Params.start_date | time.Format ":time_short" }} -  {{ .Params.end_date | time.Format ":time_short" }}</span>
                </p>
                  {{ if ge (.Params.end_date | time.AsTime) now }}
                 <p><a href="{{ .Params.link }}" title="{{ i18n " register" }} - {{ .Title }}" class="btn
                        btn-primary btn-sm">{{ i18n "register" }}</a></p>
                {{ end }}
                <div {{if eq .Params.language "persian" }} class="fa-lang content" {{else}} class="content" {{end}}>{{.Content}}</div>

                <!-- comments -->
                {{ if site.Config.Services.Disqus.Shortname }}
                <div class="mt-5">
                    {{ template "_internal/disqus.html" . }}
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }}