// This file is empty within the template
// You can use it to override CSS from within your project

.calendar.date {
    margin: 0px;
    width: 60px;
    text-align: center;
}

.calendar.date .month {
    padding: 2px 0px;
    font-weight: 700;
    text-transform: uppercase;
}

.calendar.date .day {
    padding: 3px 0px;
    font-weight: 700;
    font-size: 1.5em;
}

.fa-lang{
    direction: rtl;
    text-align: right;
    font-family: dana, Arial !important;
    p{
            direction: rtl;
        text-align: right;
        font-family: dana, Arial !important;
    }
}

.member-img{
    max-width: 320px !important;
    text-align: center;
}