<!-- SnapWidget -->
<script src="https://snapwidget.com/js/snapwidget.js"></script>
<div class="container relative z-20 flex flex-col h-full align-items-center justify-start self-center mb-4">
    <h2 class="section-title third-bg-gr mb-5 text-center font-sharp text-fluid-48-110 font-normal">
        Our Instagram</h2>
</div>
<div class="container mb-5">
    <iframe src="https://snapwidget.com/embed/1064311" class="snapwidget-widget" allowtransparency="true"
            frameborder="0" scrolling="no" style="border:none; overflow:hidden;  width:100%; "
            title="Posts from Instagram"></iframe>
</div>