<!-- events -->

<section class="section mb-10">
    <div class="container relative z-20 flex flex-col h-full align-items-center justify-start self-center mb-4">
        <h2 class="section-title -bg mb-5 text-center font-sharp text-fluid-48-110 font-normal">
            {{ .Params.events.title | markdownify }}</h2>
    </div>
    <div class="container">

        <div class="row">

            <div class="col-md-6 col-sm-6 order-1 order-md-2">
                {{ $events := .Paginate (where .Site.RegularPages "Section" "events") }}
                {{ range first 4 ($events.Pages.ByDate.Reverse)}}
                <div class="box-image-text d-flex align-items-center mb-3">
                    <div class="flex-shrink-0">
                        <div class="card text-center date calendar">
                            <div class="card-header bg-light month">
                                <span class="panel-title text-primary strong"> {{ substr (.Params.date | time.Format ":date_long") 0 3 }} </span>
                            </div>
                            <div class="card-body day text-primary">
                                {{ (time .Params.date).Day }}
                            </div>
                        </div>
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <h4 class="pl-4">
                            <a href="{{ .Permalink }}" title="{{ .Title }}" class="post-title">{{ .Title }}</a>
                        </h4>
                    </div>
                </div>
                {{ end }}
                <div class="pt-3">
                    <a href="events" title="Check Out All Events" class="btn-link">All Events<i
                            class="fas fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-md-6 mb-4 mb-md-0">
                {{ $events := .Paginate (where .Site.RegularPages "Section" "events") }}
                <div {{if gt (len $events.Pages) 1}} class="swiper-container slider" {{end}}>
                    <div class="swiper-wrapper">
                        {{ range first 4 (($events.Pages.ByParam "date").Reverse)}}
                        <div class="swiper-slide">
                            {{with .Params.image}}
                            <div class="mb-2 ratio ratio-1x1 event-card">
                                <img src="{{ . | relURL }}" alt="" class="img-fluid event-img">
                            </div>
                            {{ end }}
                            <div class="text-center pt-2">{{(time .Params.date).Day}}/{{(printf "%d" (time
                                .Params.date).Month)}} - {{ .Params.title }}
                            </div>
                        </div>
                        {{ end }}
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>
