{{ define "main" }}

{{ with .Params.banner }}
<section class="bg-neutral-100 main-frame flex flex-col justify-around items-center">
    <div class="relative overflow-hidden">
        <div class="container relative z-20 flex h-full items-end justify-center">
            <h2 class="bg-clip-text first-bg-gr px-6 text-fluid-48-110 font-normal leading-tight -tracking-7 text-transparent md:mb-10 md:m md:mt-10 text-left">
                {{ .title | markdownify }}
            </h2>

        </div>
    </div>
    <div class="container pt-10 md:pt-0">
        <div class="richtext--fullscreen-subtitle px-6 px-20 md:pb-30 theme-light row">
            <div class="col-md-6">
                <p class="md:p-6 text-wrap text-balance text-justify">
                    {{ .content | markdownify }}
                </p>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 ">
                        <img class="img-fluid" src="/images/what-is-alborz.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}

{{ with .Params.feature }}
<section data-theme="Dark" class="bg-black">
    <div class="relative overflow-hidden">
        <img alt="" fetchpriority="high" width="1440" height="840"
             decoding="async" data-nimg="1" class="relative z-10 aspect-16-10 w-full object-cover"
             style="color: transparent;" src="images/Nowruz.jpg">
        <div class="container relative z-20 flex flex-col h-full align-items-center justify-start self-center">
            <h2 class="bg-clip-text second-bg-gr px-6 text-fluid-48-110 font-normal leading-tight -tracking-7 text-transparent md:mb-24 text-center md:text-left">
                {{.title}}
            </h2>
        </div>
        <div class="absolute bottom-0 left-0 z-10 h-full w-full bg-gradient-fullscreen-overlay-black"></div>
    </div>
    <div class="container pt-20 md:pt-0">
        <div class="grid grid-cols-1 gap-y-8 px-6 pb-20 md:grid-cols-2 md:gap-x-5 md:gap-y-24 md:px-[12%] md:pb-44">
            {{ range .feature_item }}
            <div class="grid-item grid-item--dark">
                <h5>{{.name }}</h5>
                <p>{{ .content | markdownify }}</p>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
<!-- /feature -->

<!-- events -->
{{ with .Params.events_by_alborz }}
<section class="content--padded">
    <div class="container relative z-20 flex flex-col h-full align-items-center justify-start self-center m-10">
        <h2 class="bg-clip-text first-bg-gr px-6 text-fluid-48-110 font-normal leading-tight -tracking-7 text-transparent md:mb-24 text-center md:text-left">
            {{.title}}</h2>
    </div>
    <div class="pb-20">
        <div class="grid grid-cols-2 gap-y-1 px-6 md:grid-cols-3 xl:grid-cols-5 gap-x-1 sm:gap-x-2 md:gap-x-5 md:gap-y-24"
             data-grid-second>
            {{ range .items }}
            <div class="grid-item grid__img">
                {{ with .image }} <img src="{{ . | relURL }}"> {{ end }}
                <div class="grid__caption mt-2">
                    <h4>{{.title}}</h4>
                    <p>{{.year}}</p>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{end}}

{{ partial "recent-events.html" . }}
<!-- /events -->

{{ with .Params.support }}
<section data-theme="Light" class="bg-neutral-100">
    <div class="relative overflow-hidden">
        <img alt="" fetchpriority="high" width="1440" height="840" decoding="async" data-nimg="1"
             class="relative z-10 aspect-16-10 w-full object-cover" style="color: transparent;"
             src="/images/library.jpg">
        <div class="container relative z-20 flex flex-col h-full align-items-center justify-start self-center mb-4 mt-4">
            <h2 class="whitespace-normal sixth-bg-gr text-balance bg-clip-text px-2 pb-1 text-fluid-48-110 font-normal text-center leading-tight tracking-tighter text-transparent">
                {{ .title | markdownify }}
            </h2>
        </div>
        <div class="container relative z-20">
            <div class="richtext--fullscreen-subtitle text-balance text-wrap px-6 pb-24 md:whitespace-pre md:px-[12%] theme-ligh mb-10">
                <p>{{ .content | markdownify }}</p>
            </div>
        </div>
    </div>
</section>
{{end}}

{{ partial "instagram-advanced.html" . }}

{{ end }}
