{{ define "main" }}

{{ partial "page-header.html" . }}
<section class="section">
    <div class="container">
        <div class="row">
            {{ $paginator := .Paginate (where .Data.Pages "Params.event_type" "featured") 6 }}
            {{ range $paginator.Pages.ByPublishDate.Reverse }}
            {{ if ge (.Params.date | time.AsTime) now }}

            <div class="col-12 mb-5 pb-5">
                <div class="row align-items-center">
                    {{ if .Params.image }}
                    <div class="col-md-6 mb-4 mb-md-0">
                        <img src="{{ .Params.image | relURL }}" alt="{{.Title}}" class="img-fluid rounded-lg w-100">
                    </div>
                    {{ end }}
                    <div class="col-md-6">
                        <h2><a href="{{ .Permalink }}" title="{{ .Title }}" class="post-title">{{ .Title }}</a></h2>
                        <p {{if eq .Params.language "persian" }} class="card-text  fa-lang" {{else}} class="card-text" {{end}}>{{ .Summary }}</p>
                        <p>
                            <span><i class="fas  fa-map-marker"
                                     aria-hidden="true"></i> &nbsp; {{ .Params.location }}</span></br>
                            <span><i class="fas fa-calendar-check"></i> &nbsp; {{ .Params.date | time.Format ":date_long" }} at {{ .Params.date | time.Format ":time_short" }} -  {{ .Params.end_date | time.Format ":time_short" }}</span>
                        </p>

                        <a href="{{ .Params.link }}" title="{{ i18n "register" }} - {{ .Title }}" class="btn
                        btn-primary">{{ i18n "register" }}</a>
                    </div>
                </div>
            </div>
            {{ end }}
            {{ end }}

<!--            <nav class="col-12" aria-label="Page navigation">-->
<!--                <ul class="pagination justify-content-center">-->
<!--                    {{ if $paginator.HasPrev }}-->
<!--                    <li class="page-item">-->
<!--                        <a class="page-link" href="{{ $paginator.Prev.URL }}" aria-label="Previous">-->
<!--                            <span aria-hidden="true">&laquo;</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    {{ end }}-->
<!--                    {{ range $paginator.Pagers }}-->
<!--                    <li class="page-item {{ if eq . $paginator.PageNumber }}active{{ end }}">-->
<!--                        <a class="page-link" href="{{ .URL }}">{{ .PageNumber }}</a>-->
<!--                    </li>-->
<!--                    {{ end }}-->
<!--                    {{ if $paginator.HasNext }}-->
<!--                    <li class="page-item">-->
<!--                        <a class="page-link" href="{{ $paginator.Next.URL }}" aria-label="Next">-->
<!--                            <span aria-hidden="true">&raquo;</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    {{ end }}-->
<!--                </ul>-->
<!--            </nav>-->

            <div class="container text-center pb-3">
                <h1 class="display-3">Past Events</h1>
            </div>

            {{ $pastPaginator := .Paginate .Data.Pages  3 }}
            {{ range $pastPaginator.Pages.ByDate.Reverse }}
            {{ if lt (.Params.date | time.AsTime) now }}
            <div class="col-lg-4 col-sm-6 mb-5">
                <div class="card border-0">
                    {{ if .Params.image }}
                    <img src="{{ .Params.image |relURL }}" alt="{{ .Title }}" class="card-img rounded-lg mb-4">
                    {{ end }}
                    <div class="card-body p-0">
                        <h3><a href="{{ .Permalink }}" title="{{ .Title }}" class="post-title">{{ .Title }}</a></h3>
                        <p {{if eq .Params.language "persian" }} class="card-text  fa-lang" {{else}} class="card-text" {{end}}>{{ .Summary }}</p>
                        <p>
                            <span><i class="fas  fa-map-marker"
                                     aria-hidden="true"></i> &nbsp; {{ .Params.location }}</span></br>
                            <span><i class="fas fa-calendar-check"></i> &nbsp; {{ .Params.date | time.Format ":date_long" }} at {{ .Params.date | time.Format ":time_short" }} -  {{ .Params.end_date | time.Format ":time_short" }}</span>
                        </p>
                    </div>
                </div>
            </div>
            {{ end }}
            {{ end }}

            <nav class="col-12" aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {{ if $pastPaginator.HasPrev }}
                    <li class="page-item">
                        <a class="page-link" href="{{ $pastPaginator.Prev.URL }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {{ end }}
                    {{ range $pastPaginator.Pagers }}
                    <li class="page-item {{ if eq . $pastPaginator.PageNumber }}active{{ end }}">
                        <a class="page-link" href="{{ .URL }}">{{ .PageNumber }}</a>
                    </li>
                    {{ end }}
                    {{ if $pastPaginator.HasNext }}
                    <li class="page-item">
                        <a class="page-link" href="{{ $pastPaginator.Next.URL }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {{ end }}
                </ul>
            </nav>
        </div>
</section>

{{ end }}
